<!--FOOTER-->
<section class="section-no-border pt-3">
	<!-- Footer -->
	<footer class="page-footer font-small unique-color-dark text-light" style="background-color: #000;">

		<div style="border-bottom: 1px solid #fff;">
			<div class="container">

				<!-- Grid row-->
				<div class="row py-4 d-flex align-items-center">

					<!-- Grid column -->
					<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0">Get connected with us on social networks!</h6>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-6 col-lg-7 text-center text-md-right">
						<!--Instagram-->
						<a class="ins-ic" href="https://www.instagram.com/samasthiticonstructionspvtltd/"
							target="_blank">
							<i class="bi bi-instagram text-light mr-4"> </i>
						</a>
						<!-- Facebook -->
						<a class="fb-ic" href="https://www.facebook.com/samasthiticonstructions/" target="_blank">
							<i class="bi bi-facebook text-light mr-4"> </i>
						</a>
						<!-- Twitter -->
						<a class="tw-ic" href="https://twitter.com/SamasthitiC?s=08" target="_blank">
							<i class="bi bi-twitter text-light mr-4"> </i>
						</a>
						<!--Youtube -->
						<a class="li-ic" href="https://youtube.com/channel/UCa_uQZhSFrUIngg0BxA3NZg" target="_blank">
							<i class="bi bi-youtube text-light mr-4"> </i>
						</a>
					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row-->

			</div>
		</div>

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-5">

			<!-- Grid row -->
			<div class="row mt-3">

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Information</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>
						<a href="{{ " /about/" | absolute_url }}" class="text-white">About us</a>
					</p>
					<p>
						<a href="{{ " /projects/" | absolute_url }}" class="text-white">Projects</a>
					</p>
					<p>
						<a href="{{ " /services/" | absolute_url }}" class="text-white">Services</a>
					</p>
					<p>
						<a href="{{ " /BlogList/" | absolute_url }}" class="text-white">Blogs</a>
					</p>
					<p>
						<a href="{{ " /contact/" | absolute_url }}" class="text-white">Contact</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Tags</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>
						<a href="#!" class="text-white">Floor Plans Interior Design</a>
					</p>
					<p>
						<a href="#!" class="text-white">Home Construction Plots</a>
					</p>
					<p>
						<a href="#!" class="text-white">Row Houses Front Elevation</a>
					</p>
					<p>
						<a href="#!" class="text-white">Construction Building</a>
					</p>
					<p>
						<a href="#!" class="text-white">Real Estate 3D Design</a>
					</p>
					<p>
						<a href="#!" class="text-white">House Plan</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Quick Information</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>
						<a href="#!" class="text-white">Google Review </a>
						<br>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-half" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
					</p>
					<p>
						<a href="#!" class="text-white">JustDial </a>
						<br>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-half" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
					</p>
					<p>
						<a href="#!" class="text-white">Indiamart </a>
						<br>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
						<i class="bi bi-star-fill" aria-hidden="true" style="font-size: 1.2rem; color: #ffc718"></i>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Contact</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>
						<i class="bi bi-envelope mr-3"></i> info@example.com
					</p>
					<p>
						<i class="bi bi-phone mr-3"></i> +91 9111 08803
					</p>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">&#169;2021 Samasthiti Constructions Pvt. Ltd. All Rights Reserved
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
</section>
<footer style="font-family: Open Sans, sans-serif;background-color: #000;">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<a href="https://api.whatsapp.com/send?phone=+919111088803&text=Hello" class="float" target="_blank">
		<i class="fa fa-whatsapp my-float"></i>
	</a>
</footer>

<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<!-- Main Script -->
<script src="{{ '/js/main.js' | absolute_url }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe-ui-default.min.js"></script>

<script>
	'use strict';

	/* global jQuery, PhotoSwipe, PhotoSwipeUI_Default, console */

	(function ($) {

		// Init empty gallery array
		var container = [];

		// Loop over gallery items and push it to the array
		$('#gallery').find('figure').each(function () {
			var $link = $(this).find('a'),
				item = {
					src: $link.attr('href'),
					w: $link.data('width'),
					h: $link.data('height'),
					title: $link.data('caption')
				};
			container.push(item);
		});

		// Define click event on gallery item
		$('a.box1').click(function (event) {

			// Prevent location change
			event.preventDefault();

			// Define object and gallery options
			var $pswp = $('.pswp')[0],
				options = {
					index: $(this).parent('figure').index(),
					bgOpacity: 0.85,
					showHideOpacity: true
				};

			// Initialize PhotoSwipe
			var gallery = new PhotoSwipe($pswp, PhotoSwipeUI_Default, container, options);
			gallery.init();
		});

	}(jQuery));
</script>
