<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include nav.html %}

		<!--Banner-->
		<div class="container">
			<div class="row justify-content-center my-5">{% include breadcrumb.html %}</div>
			<div class="row justify-content-center my-5">
				<div class="col">
					<h1 class="banner-title my-2">{{page.heading}}</h1>
					<br />
					<h5><em>{{page.subheading}}</em></h5>

					<div class="blog-content">
						<img src="{{page.photo}}" alt="" style="display: none" onload="this.style.display=''" />

						{{content}}
					</div>
				</div>
			</div>
		</div>

		<!--Main content Grid-->
		<div class="container-fluid">
			<!--FIRST ROW OF THE GRID-->
			<div class="row justify-content-evenly">
				<div class="col"></div>
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
