<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		{% include nav.html %}

		<div class="banner-video"
			style="background-position: center; background-repeat: no-repeat; background-size: cover">
			<video autoplay muted loop>
				<source src="{{ page.banner_video | absolute_url}}" type="video/mp4" />
			</video>
			<svg viewBox="0 0 85 85" class="arrows mobile-hidden">
				<path class="a1" d="M0 0 L30 32 L60 0"></path>
				<path class="a2" d="M0 20 L30 52 L60 20"></path>
				<path class="a3" d="M0 40 L30 72 L60 40"></path>
			</svg>
		</div>

		<nav class="navbar navbar-expand-sm navbar-dark d-flex justify-content-center"
			style="border-top: 1px solid #fff;background-color: #000;">
			<ul class="navbar-nav nav justify-content-center">
				<li class="nav-item px-5">
					<a class="nav-link text-white font-size font-size-m" href="/contact">Meet and Start <i
						class="fa fa-handshake-o" aria-hidden="true"></i></a>
				</li>
			</ul>
		</nav>

		<!--Banner-->
		<div class="container home-container">
			<div class="row justify-content-center my-5">
				<div class="col">
					<h1 class="banner-title mb-5">{{page.heading}}</h1>
					{{ content }}
				</div>
			</div>
		</div>

		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 grid-margin stretch-card border border-dark p-3">
					<p class="h3"> {{ page.title1 }}</p>
					<div class="owl-slider">
						<div class="owl-carousel">
							{% for images in page.floor_plan %}
							<a href="{{ "house-plans" | absolute_url}}">
								<div class="item border border-dark">
									<img src="{{ images.image }}" alt="">
								</div>
							</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 grid-margin stretch-card border border-dark p-3">
					<p class="h3"> {{ page.title2 }}</p>
					<div class="owl-slider">
						<div id="carousel" class="owl-carousel">
							{% for images in page.construction_plan %}
							<a href="{{ "constructions" | absolute_url}}">
								<div class="item border border-dark">
									<img src="{{ images.image }}" alt="">
								</div>
							</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 grid-margin stretch-card border border-dark p-3">
					<p class="h3"> {{ page.title3 }}</p>
					<div class="owl-slider">
						<div id="carousel" class="owl-carousel">
							{% for images in page.interior_design_plan %}
							<a href="{{ "interior-designs" | absolute_url}}">
								<div class="item border border-dark">
									<img src="{{ images.image }}" alt="">
								</div>
							</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 grid-margin stretch-card border border-dark p-3">
					<p class="h3"> {{ page.title4 }}</p>
					<div class="owl-slider">
						<div id="carousel" class="owl-carousel">
							{% for images in page.elevation_design_plan %}
							<a href="{{ "real-estate-buys" | absolute_url}}">
								<div class="item border border-dark">
									<img src="{{ images.image }}" alt="">
								</div>
							</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<!--FIRST ROW OF THE GRID-->
			<div class="row justify-content-evenly row-col">
				{% for imageInfo in site.posts %}
				{% if imageInfo.imgSize == "large" %}
				<div class="col-lg-6 long-card item p-1">
					<a href="{{imageInfo.tile_url}}" style="text-decoration: none">
						<div class="box" style="background-image: url('{{imageInfo.img | absolute_url }}');">
							<div class="{%if imageInfo.img != nil%} cover {%else %} no-img {% endif %}">
								<h1 class="banner-title m-2">{{ imageInfo.imgTitle }}</h1>
							</div>
						</div>
					</a>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="container-fluid">
			<div class="row mt-4">
				<div class="col-md-12 text-center">
					<button type="button" class="btn btn-lg text-white" style="background-color: #000;">Load
						More</button>
				</div>
			</div>
		</div>


		{% include footer.html %}

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "HomeAndConstructionBusiness",
				"name": "Samasthiti Constructions Pvt. Ltd.",
				"image": "",
				"@id": "",
				"url": "https://www.samasthiticonstructions.com/",
				"telephone": "9111088801",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "A-5 near new hotel uday palace, Vijay Nagar,",
					"addressLocality": "Indore",
					"postalCode": "452011",
					"addressCountry": "IN"
				},
				"geo": {
					"@type": "GeoCoordinates",
					"latitude": 22.7519547,
					"longitude": 75.8927661,
				},
				"openingHoursSpecification": {
					"@type": "OpeningHoursSpecification",
					"dayOfWeek": [
						"Monday",
						"Tuesday",
						"Wednesday",
						"Thursday",
						"Friday",
						"Saturday",
						"Sunday"
					],
					"opens": "00:00",
					"closes": "23:59"
				},
				"sameAs": [
					"https://www.facebook.com/samasthiticonstructions/",
					"https://twitter.com/SamasthitiC/",
					"https://www.youtube.com/channel/UCUcZxmNoIy71z8hiaeAaatw",
					"https://www.instagram.com/samasthiticonstructionspvtltd/",
					"https://www.linkedin.com/in/samasthiti-constructions-8265a3189/",
					"https://www.samasthiticonstructions.com/",
				]
			}
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
		<script src="{{ " /js/jquery.jscroll.js" | relative_url }}"></script>

		<script type="text/javascript">
			// content selector is used to extract the additional items 
			$('.row-co').jscroll({
				contentSelector: ".row-co",
				nextSelector: '.next'
			});
		</script>
		<script>
			jQuery(".owl-carousel").owlCarousel({
				autoplay: true,
				rewind: true, /* use rewind if you don't want loop */
				margin: 20,
				dots: false,
				responsiveClass: true,
				autoHeight: true,
				autoplayTimeout: 7000,
				smartSpeed: 800,
				nav: true,
				responsive: {
					0: {
						items: 1
					},

					600: {
						items: 3
					},

					1024: {
						items: 4
					},

					1366: {
						items: 4
					}
				}
			});
		</script>
	</body>

</html>
