<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include nav.html %}

		<div
			class="banner-image"
			style="background:#000;
			background-image: url('{{page.banner_image | absolute_url}}');
			background-position: center; background-repeat: no-repeat; background-size:cover;"
		>
			{% include breadcrumb.html %}
		</div>

		<!--Banner-->
		<div class="container">
			<div class="row justify-content-center my-5">
				<div class="col">
					<h1 class="banner-title my-2">{{page.heading}}</h1>
					{{content}}
				</div>
			</div>
		</div>

		<!--Main content Grid-->
		<div class="container-fluid">
			<!--FIRST ROW OF THE GRID-->
			<div class="row justify-content-evenly">
				<div class="col">
					<div class="row d-flex justify-content-evenly">
						{% for sell in site.sells %}
						<div class="col-6 col-md-3 item p-1">
							<a href="{{ sell.url | absolute_url }}">
								<div
									class="box"
									style="background-image:url('{{sell.banner_image | absolute_url}}');">
									<div class="cover">
										<h2 class="name pt-2 pl-4 title-cards">{{sell.heading | upcase}}</h2>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
